doctype html

html

head
  title
  
body


  link(rel='stylesheet', href='/styles/supplement.css', type='text/css')
  link(rel='stylesheet', href='/styles/form.css', type='text/css')

  .center-wrapper
    .centre-cont
    
      .logo-container
        .logo
        h2.moto Simple 
          span .
          | Convinient
      h1.f0f 404 not found
      
      p The URL you are trying to
        br
        | reach is not hosted on the server
      
      a.button(href='/') Go to Kreww
