doctype html
html
  head
    title Not found
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='theme-color' content='#000')
    meta(name='apple-mobile-web-app-status-bar-style' content='#000')
    link(rel='stylesheet', href='/styles/supplement.css', type='text/css')
    link(rel='stylesheet', href='/styles/form.css', type='text/css')
  body
    div.center-wrapper
      div.centre-cont
        .logo-container
          .logo
          h2.moto Simple 
            span .
            | Convinient
        h1.f0f 404 not found
        p The URL you are trying to
          br
          | reach is not hosted on the server
        
        a.button(href='/') Go to Kreww
