footer

  link(rel='stylesheet', href='/styles/footer.css', type='text/css')
  div.col23
    div.circle#a
    strong High Quality & Trusted Professionals
    p.foot We provide only verified, background checked and high quality professionals
    
  div.col23 
    div.circle#b
    strong Matched to Your Needs
    p.foot We provide only verified, background checked and high quality ProfessionalsWe match you with the right professionals with the right budget
  
  div.col23
    div.circle#c
    strong Hassle Free Service Delivery
    p.foot Super convenient, guaranteed service from booking to delivery
  
  
p#copyright kreww Inc &copy copyright 2019-2020
