footer

  link(rel='stylesheet', href='/styles/footer.css', type='text/css')
  div.col23
    div.circle
    strong High Quality & Trusted Professionals
    p.foot We provide only verified, background checked and high quality professionals
    
  div.col23 
    div.circle
    strong Matched to Your Needs
    p.foot We provide only verified, background checked and high quality ProfessionalsWe match you with the right professionals with the right budget
  
  div.col23
    div.circle
    strong Hassle Free Service Delivery
    p.foot Super convenient, guaranteed service from booking to delivery
