doctype html
html
  head
    title Kreww | Home
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='theme-color' content='#000')
    meta(name='apple-mobile-web-app-status-bar-style' content='#000')
    link(rel='stylesheet', href='/styles/loader.css', type='text/css')
    script(src="https://code.createjs.com/1.0.0/createjs.min.js")
  
    

  
  body
    #loader
      svg(viewBox='0 0 1440 535', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', xmlns:serif='http://www.serif.com/', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;')
        g#kreww
          path#w(d='M1084.93,440.891l11.024,-40.987l41.472,-137.014c17.234,-46.396 77.027,-43.906 87.824,-1.077l47.118,139.887c8.868,34.096 13.65,52.578 14.346,55.448l16.432,-57.727l47.379,-147.394c17.962,-43.927 77.687,-25.192 62.183,9.475c0,0 -73.048,218.464 -73.959,220.591c-18.285,42.685 -93.993,37.741 -104.456,-8.303l-48.388,-154.749l-50.667,155.446c-8.121,25.722 -29.528,37.37 -50.308,36.26c-20.779,1.11 -42.187,-10.538 -50.308,-36.26l-50.666,-155.446l-48.388,154.749c-10.464,46.044 -86.171,50.988 -104.456,8.303c-0.911,-2.127 -73.96,-220.591 -73.96,-220.591c-15.504,-34.667 44.222,-53.402 62.184,-9.475l47.379,147.394l16.432,57.727c0.696,-2.87 5.477,-21.352 14.346,-55.448l47.118,-139.887c7.592,-30.12 39.418,-40.289 63.631,-27.536c10.217,5.382 19.078,14.845 24.192,28.613l41.472,137.014l11.024,40.987Z', style='fill:none;stroke:#fff;stroke-width:10px;')
          path#e(d='M718.204,377.36l-113.763,27.574l1.997,6.643c5.278,17.553 14.005,30.502 26.183,38.847c12.178,8.345 24.582,11.009 37.212,7.993c20.93,-4.998 36.769,-10.458 41.558,-37.623c13.852,-28.153 60.396,-28.675 50.275,20.505c-0.268,1.306 -13.168,26.341 -20.461,33.569c-16.156,16.012 -33.726,28.362 -56.821,33.877c-30.673,7.324 -59.425,2.542 -86.259,-14.347c-26.833,-16.889 -45.847,-43.953 -57.043,-81.191c-12.084,-40.192 -11.177,-78.343 2.719,-114.453c13.896,-36.109 41.594,-59.119 83.092,-69.029c27.966,-6.679 53.552,-2.459 76.759,12.659c23.206,15.117 39.385,41.11 51.233,77.304c12.978,39.644 -27.073,57.042 -36.681,57.672Zm-20.619,-40.824l-1.8,-6.954c-5.968,-19.85 -14.397,-33.574 -25.287,-41.171c-10.889,-7.598 -22.739,-9.867 -35.55,-6.807c-12.99,3.102 -23.111,11.409 -30.361,24.921c-7.251,13.511 -9.45,31.443 -6.597,53.795l99.595,-23.784Z', style='fill:none;stroke:#fff;stroke-width:10px;')
          path#r(d='M322.839,486.815l0,-246.112c-1.322,-23.38 63.26,-30.642 64.996,0l0,37.311c15.034,-17.458 24.791,-27.588 36.639,-33.892c38.989,-20.744 96.82,-7.3 108.294,8.288c11.617,14.212 10.202,30.674 -25.554,31.683c-23.943,0.676 -19.212,-2.664 -35.19,-1.606c-14.332,0.949 -24.756,2.161 -35.698,6.53c-12.102,4.833 -22.375,13.942 -27.225,23.676c-7.274,14.831 -14.719,27.66 -14.719,45.272l0,128.85c-10.653,29.469 -68.939,15.891 -71.543,0Z', style='fill:none;stroke:#fff;stroke-width:10px;')
          path#k(d='M92.942,54.411c2.721,-32.64 -63.846,-40.491 -70.86,0l0,425.131c14.201,45.29 76.042,23.077 70.86,0l0,-425.131Zm38.568,270.812l72.124,-79.085c43.451,-51.433 100.258,-21.081 59.64,32.431l-76.173,80.027l94.054,89.261c40.741,28.705 -0.395,77.44 -39.319,45.638l-107.839,-93.005c-11.612,-8 -26.326,-21.378 -26.917,-35.421c-0.598,-14.236 13.084,-29.154 24.43,-39.846Z', style='fill:none;stroke:#fff;stroke-width:10px;')
      .progress-cont
        #progress

    include nav.pug
    
    
    .choose-wrap
        .wrapper.repair
          h1.cont-label Appliance Repair and Services
          .repair.container
            each appliance, i in appliances
              a(href='/order/'+appliance.name)
                .item-wrap
                  .item
                    .item-bg(style=`background-image: url(../assets/appliance/background/${appliance.image}.jpg)`)
                    .item-img
                      img.prod-img(src='assets/appliance/lined/' + appliance.image + '.svg')
                  .label= appliance.name
        .wrapper.service               
          h1.cont-label Home Assitance Services
          .service.container
            each service, i in services
              a(href='/order/'+service.name)
                .item-wrap
                  .item
                    .item-bg(style=`background-image: url(../assets/services/background/${service.image}.jpg)`)
                    .item-img
                      img.prod-img(src='assets/services/lined/' + service.image + '.svg')
                  .label= service.name
            
    include footer.pug

    script(src='/bower-components/jquery/dist/jquery.js')
    

    link(rel='stylesheet', href='/styles/mobNav.css', type='text/css')
    link(rel='stylesheet', href='/styles/webNav.css', type='text/css')
    link(rel='stylesheet', href='/styles/hover.css', type='text/css')
    script(src='/js/mobNav.js')
    link(rel='stylesheet', href='styles/main.css')
    
    script(src='/js/hover.js')
    script(src='/js/loader.js')

  
    
    


  

  
