extends layout



block content

  link(rel='stylesheet', href='styles/main.css')
  .choose-wrap
      .wrapper.repair
        h1.cont-label Appliance Repair and Services
        .repair.container
          each appliance, i in appliances
            .item-wrap
              .item
                .item-bg(style=`background-image: url(../assets/appliance/background/${appliance.image}.jpg)`)
                .item-img
                  img.prod-img(src='assets/appliance/lined/' + appliance.image + '.svg')
                .schedule
                  a(href='/order/'+appliance.name) schedule
              .label= appliance.name
      .wrapper.service               
        h1.cont-label Home Assitance Services
        .service.container
          each service, i in services
            .item-wrap
              .item
                .item-bg(style=`background-image: url(../assets/services/background/${service.image}.jpg)`)
                .item-img
                  img.prod-img(src='assets/services/lined/' + service.image + '.svg')
                .schedule
                  a(href='/order/'+service.name) schedule
              .label= service.name
        
