doctype html
html
  head
    title Kreww | Home
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='theme-color' content='#000')
    meta(name='apple-mobile-web-app-status-bar-style' content='#000')
    link(rel='stylesheet', href='/styles/loader.css', type='text/css')
    link(rel='stylesheet', href='/styles/mobNav.css', type='text/css')
    link(rel='stylesheet', href='/styles/webNav.css', type='text/css')
    link(rel='stylesheet', href='/styles/hover.css', type='text/css')
    script(src='/bower-components/jquery/dist/jquery.js')
    script(src='/js/mobNav.js')
    script(src="/socket.io/socket.io.js")


  
  body
    

    include nav.pug

    block content
    

    
  
    script(src='/js/hover.js')
    script(src='/js/loader.js')
    script(src='/js/realtime.js')
