#toggling.menu-wrap.mob
  .location-cont.mob
    img.location-img(src='/assets/srch.svg')
    input.location-input.mob(type='text', name='Location', placeholder='search kreww.com')
    button.cancelBtn.mob cancel
  ul.menu-cont.mob
    a.item-ref(href='/')
      li.menu-item.mob Home
    a.item-ref(href='/users/profile')
      li.menu-item.mob Profile

// Mobile Nav ends

//common part
.header
  #hamburger.nav
    .nav-toggle(onclick='toggleMenu()')
      span#line.hamLine
  #logo.nav
  
  // web Nav
  .webmenu-wrap
    .location-cont
      
      input.location-input(type='text', name='Location', placeholder='search kreww.com')
      img.location-img(src='/assets/srch.svg')
      button.cancelBtn.web cancel
      
    ul.web-menu
      a.Hover.item-ref(href='/')
        li.menu-item Home
        span.bubble
      a.item-ref.Hover(href='/users/profile')
        li.menu-item Profile
        span.bubble

      // web Nav ends
  a.nav.todo(href='/users/orders')
    #todo.nav
    
    
  script(src="/js/search.js", type="text/javascript")
  
