doctype html

html

head
  title
  
body


  link(rel='stylesheet', href='/styles/supplement.css', type='text/css')
  link(rel='stylesheet', href='/styles/form.css', type='text/css')

  .centre-wrapper
    .centre-cont
    
      .logo-container
        .logo
        h2.moto Simple 
          span .
          | Convinient
      h1.f0f Sorry! 
      p Nothing to show, this order was cancelled
      
      a.button(href='/users/orders') Go to Orders
