extends layout
block content
  link(rel='stylesheet', href='/styles/supplement.css', type='text/css')
  link(rel='stylesheet', href='/styles/form.css', type='text/css')
  
    
  .center-wrapper
    .centre-cont  
      h1 thank you for ordering
      != messages('message', locals)

      a.button(href='/') go to Home page
      
