extends ../layout

block content
  link(rel='stylesheet', href='/styles/form.css', type='text/css')
  
  #masterBg
    .wrapper
      .container
      .container.form-cont
      
    

        form(method= 'POST', action='/users/login')
          .logo-container
            .logo
            h2.moto Simple 
              span .
              | Convinient
          != messages('message', local)
          input.input-box(name='email', type='email', placeholder='Enter Email')
        
          input.input-box(name='password', type='password', placeholder='Enter Password')
          
          input.button( type='submit' value='Login')
          .line
          h5.dont Don't have an account?
          a.button(href="/users/register") Register
    
