footer{
  padding: 5vw;
  padding-bottom: 2vw;
  background: black;
  height: 25vh;
  width: 89.5vw;
  bottom: 0;
  position: sticky;
  z-index: -5;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5em;
  overflow-x: hidden;
  font-size: 10px;
}



.circle{
  border: 15px solid #fff;
  margin: 10px auto;
  height: 40px;
  width: 40px;
  background-color: #fff;
box-shadow: 0 0 10px #fff;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/thumbs.svg");
  animation: glowy 2s ease infinite alternate;
}

@keyframes glowy {
  from{
    box-shadow: 0 0 15px #fff;
}
  to{
    box-shadow: 0 0 0px #666;
}
}

.circle#a{
  background-image: url("/assets/trust.svg");
}

.circle#b{
  background-image: url("/assets/trustedMan.svg");
}

.circle#c{
  background-image: url("/assets/thumbs.svg");
}


.col23{
  display: flex;
  flex-direction: column;
  flex-basis:28%;
  color: #aaa;
  align-items: center;
}

strong{
  color: #fff;
}


p.foot{
  text-align: center;
  padding: 5px 15px;
}


#copyright {
  padding: 20px 0;
  padding-left: 4vw;
  background-color: #000;
  color: #fff;
  width: 95.5vw;
  font-size: 0.5em;
  font-weight: 200;
  text-align: center;
  font-size: 0.8em;
}

@media only screen and (max-width:650px) {
  footer{
    grid-template-columns: auto;
    height: auto;
  }


  #copyright{
    width: 96vw;
  }

  footer{
    width: 90vw;
  }
}
