:root{
  --light-color: #444;
  --dark-color: #fff;
  --letter-color: #111;
  --time: 300ms;
}


a{
  text-decoration: none;
}

.choose-wrap{
  padding: 0 15vw;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background: #fff;
  padding-bottom: 6vh;

}


.cont-label{
  z-index: 2;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  top: 4em;
  position: sticky;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  margin-bottom: 1.5em;
 }

.container{
  margin: 0 10px;
  bottom:0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.5em;
  margin-bottom: 2em;

}

.item{
  cursor: pointer;
  position: relative;
  height: calc(100vw/11) ;
  align-items: right;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items:center;
  transition: all var(--time);
  overflow: hidden;
  background-image: linear-gradient(to right,rgba(0,0,0,0.6), rgba(0,0,0,0.4));
}

.item-img{
  opacity: 1;
  position: absolute;
  left: 30%;
  margin: 20px 12px;
  height: calc(100vw/11 - 40px) ;
  width: calc(100vw/11 - 40px) ;
  background-color: rgba(255,255,255,0.85);
  border-radius: 50%;
  display: flex;
  box-shadow: 0 0 10px #333;
  transform: scale(1);
  transition: all 400ms;
}

.item-img img{
  height: 50%;
  width: 55%;
  margin:auto;
}


.schedule, .label{
  position: relative;
  left:35px;
  margin: auto;
  color: var(--letter-color);
  font-size: 11px;
  overflow: visible;

}

.label{
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  font-size: 11px;
  margin-left: -30px;
  margin-top: 5px;
}

.schedule a{
  color: var(--letter-color);
  text-decoration: none;
  background: var(--dark-color);
  border-radius: 25px;
  border: 1px solid var(--light-color);
  padding: 0.25em 3em;
  font-size: 11px;
  bottom: 20px;
  transition: all var(--time);
}

.schedule a:hover{
  background: var(--letter-color);
  color: var(--dark-color);
}

.item:hover .item-img{
  opacity: 1;
  transform: scale(1) brightness(0.2);
}

.item-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  filter: blur(2px);
  opacity: 0.6;
  padding: -10px;
  transform: scale(1.1);
  transition: all 500ms;
}

.item:hover .item-bg{
  transform: scale(1);
  filter: blur(0.5px);
}

.item-wrap:hover .item-img{
  animation: twerk 500ms forwards ease-out;
}

@keyframes twerk {
  0%,50%,100%{
    transform: rotateZ(0deg);
  }

  16.66%,66.66%{
    transform: rotateZ(10deg);
  }

  33.34%,83.32%{
    transform: rotateZ(-10deg);
  }
}



@media only screen and (max-width:950px)
{
  .container{
    grid-template-columns: auto auto;
  }

  .item{
    height: calc(100vw/4 - 4.4em) ;
  }

  .item-img{
    height: calc(100vw/4 - 8.4em) ;
    width: calc(100vw/4 - 8.4em) ;
    margin: 2em 1.2em;
  }
}

@media only screen and (max-width:650px)
{
  .service .container{
    grid-template-columns: auto auto;
  }

  .repair {
    grid-template-columns: auto;
  }
  .item{
    height: calc(100vw/3 - 1.4em) ;

  }

  .service .item{
    height: calc(100vw/3 - 2.9em) ;
    background: rgba(0,0,0,0);

  }

  .cont-label{
    padding-top: 1.5em;
    padding-bottom: 1em;
  }

  .service .item-bg{
    display: none;
  }

  .item-img{
    margin: 1.2em;
    height: calc(100vw/3 - 3.9em);
    width: calc(100vw/3 - 3.9em);

  }

  .service .item-img{
    margin: 0.5em 1.2em;
    margin-left: 0;
  }

  .service .item-img{
    filter: invert();
    box-shadow: 0 0 10px #fff;
  }

    .choose-wrap{
      padding: 0 8vw;
      padding-bottom: 10vh;

    }

    .schedule a{
      padding: .5em 4em;
      font-size: 1.2em;
    }
.service .label{
  width: 100%;
  text-align: center;
}

}

@media only screen and (min-width:1500px)
{
  .container{
    grid-template-columns: auto auto auto auto;
  }


  .item{
  height: calc(100vw/10 - 14em/6) ;
  }

  .item-img{
  height: calc(100vw/10 - 6em) ;
  width: calc(100vw/10 - 6em) ;
  margin: 2em 1.2em;
  }


}
