*{
	padding: 0;
	margin:0 ;
	font-family: roboto, sans-serif;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	tap-highlight-color: transparent;
	touch-callout: none;
}

a,button, input[type="submit"], p, div, img{
	user-select: none;
	-webkit-user-select: none;
}

@font-face {

}


textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
}


input:focus{
  outline: none;
}

*::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);

}


*::-webkit-scrollbar{
  width: 6px;
  background-color: rgba(0,0,0,.9);

}

*::-webkit-scrollbar-thumb{
border-radius: 10px;
 background-color: #212121;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);

}



.header{
	z-index: 9;
	position: sticky;
	top:0%;
	display: flex;
	flex-grow: 1;
	height: 2em;
	background: #000;
	color: rgba(255,255,255,1);
	padding: 1em 1.5em;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.nav{
	flex-basis: calc(100vw/3);
}

a.todo{
	height: 1.75em;
	width: 1.5em;
	position: relative;
}

#todo{

	background-image: url(../assets/todoGraphic.svg);
	background-repeat: no-repeat;
	background-position:right;
	position: absolute;
	right: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	min-height: 1.15em;
	min-width: 1.15em;

}

#logo{
	text-align: center;
	background-image: url(../assets/logoWhite.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 1.5em;
	min-height: 8px;
	min-width: 40px;
	margin: auto;
}

.nav-toggle{
	width:2em;
	height:2em;
	align-items: center;
	text-align: center;
	display: flex;
}

.hamLine,
.hamLine:before,
.hamLine:after{
	display: block;
	content: "";
	background-color: rgba(255, 255, 255, 1);
	width: 1.25em;
	height: 0.15em;
	border-radius: 25px;
	position: relative;
	margin-left: 0.375em;
	transition: transform 300ms ease-in-out;
}

.hamLine:after, .hamLine:before{
	bottom:calc(1em - 0.15em);
	width: 2em;
	margin-left: -0.375em;

}

.hamLine:before{
	bottom:calc(-1em + 0.3em);
}

.open{
	transform: rotate(-90deg);
}

.open:after{
	transform: rotate(45deg);
}

.open:before{
	transform: rotate(-45deg);

}

#hamburger{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 2em;
	width: 2em;
	margin: auto 0;
}



.menu-wrap{
	position: fixed;
	top: 4em;
	background-color: rgba(0,0,0,0.9);
  backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	height: 0px;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 99998;
	transition: height 400ms ease-out;
}

.location-cont{
	width: 80vw;
	background-color: inherit;
	height: 3em;
	margin: 1.5em;
	border-radius: 10px;
	display: flex;
	transition: width 300ms ease-out;
	}

.location-img{

	margin: 12px;
	width: 1em;
}

.location-input{
	text-align: center;
	width: calc(95vw - 1em - 16px);
	background-color: rgba(0,0,0,0);
	border: none;
	color: #eee;
	font-weight: 300;
	font-size: 1em;
	padding: 10px;

}

.menu-cont{
	width:65vw;
}

.item-ref{
	text-decoration: none;
}

.menu-item {
	font-size: 1em;
	list-style: none;
	padding: 1em;
	border-bottom: 0.2px solid #555;
	color: #eee;

}

.mob.menu-item{
	text-align: left !important;
	transform: scale(0.7);
	opacity: 0;
	transform-origin: left;
	transition-delay: 50ms;
	transition: opacity 250ms ease-out, transform 250ms ease-out;
}

.menu-item.opened{
	opacity: 1;
	transform: scale(1);
}

.location-input::placeholder {
	color: #ddd;
}

input:active::placeholder{
	display: none;
}

.webmenu-wrap{
	display: none;
}


.location-input::placeholder{
	color: #777;
}

.cancelBtn{
	opacity: 0;
	padding: 5px 10px;
	color: #2997ff;
	background-color: rgba(0,0,0,0);
	border: none;
	margin-right: -5px;
	transition: all 300ms ease-out;
}

.cancelBtn:focus{
	outline: none;
	border: none;
}
