*{
  font-family: roboto;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.centre-wrapper{
  position: relative;
  height: calc(100vh - 3.5em);
  display: flex;
  width: 100%;
}

li{
  list-style: none;
}

.centre-cont{
  position: relative;
  margin: auto;
  width: 30vw;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.centre-cont h1, .centre-cont a{
  margin: 20px 0;
}

.centre h1{
  font-weight: 400;
  font-size: 15px;
}
.order-list{
  position: absolute;
  width: 80vw;
}
.order-li, .work-li{
  position: relative;
  border-radius: 10px;
  background: rgba(242, 242, 242,0.5);
  display: flex;
  padding: 10px 20px;
  margin-top: 15px;
  padding: 15px;
}
.order-li .button{
  position: absolute;
  margin: auto;
  margin-top: 0;
  right: 20px;
  padding: 6px 20px;
  width: 100px;
}

.info-grp h4{
  margin-bottom: 7px;
}
 .in-line span{
  font-size: 12px;
  opacity: 0.8;
}


.button, .price{
  margin: 12px 0;
  background: #000;
  border: 1.5px solid #000;
  border-radius: 10px;
  font-size: 1em;
  color: #ddd;
  transition: color 200ms ease-in-out;
  transition: background 200ms ease-in-out;
  font-size: 0.9em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.button:hover{
  color: #fff;
}

p{
  font-weight: 300;
}

.in-col{
  display: flex;
  flex-direction: column;

}

div.todo{
  display:flex;
  border-radius: 10px;
  background-color: #f2f2f2;
  position: relative;

}

div.todo .button, .price{
  margin: 2px 0;
  padding: 1.5px 20px;
  border-radius: 25px;
  font-size: 11px;

}

.price{
  background-color: #eee;
  color: #000;
}

.in-line{
  display: flex;
}

.right{
  position: absolute;
  right: 20px;
}

.work{
  width: 65%;
  position: relative;
  padding: 15px 20px;
}

.work a{
  margin: 0;
  text-decoration: none;
}
.work-label{
  padding: 2px 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 0.9em;
}

.res{
  top: 50%;
  transform: translateY(-50%);
}

.in-line .accept, .in-line .reject{
  flex-grow: 1;
  margin: 0 3px;
}

.work-li{
  width: calc(100% - 25px);
}

.work-li.in-line{
  background: #fff;
}

.work-li span{
  margin-left: 5px;
}

.list-group-item{
  margin: 15px 0;
}

form{
  border:none;
}

.lateDetail{
  border-radius: 5px;
  border: 1.5px solid #000;
  padding: 0 0.75em;
  height: 2.5em;
  font-size: 0.9em;
  outline: none;
  margin-right: 5px;
}
.done{
  padding: 7px 40px;
  height: 1em;
  margin: 12px 0;
  align-items: flex-end;
  width: 45%;
}

input.otp {
  padding: 0 0.75em;
  height: 2em;
  font-size: 0.9em;
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 20px;
  width: 45%;
  }


span.status{
font-size: 10px;
font-weight: 600;
border-radius: 25px;
padding: 2.5px 10px;
text-align: center;
animation: ongoing 3s linear infinite;

}

span.status.green{
  border: 1px solid #2c9645;
  background: linear-gradient(to right, #2c9645 25%, #2c9645 70%,#2c9645 100%);
  background-size: 100% auto;
  color: #000;
  background-clip: text,border;
  text-fill-color: transparent;
  -webkit-background-clip: text,border;
  -webkit-text-fill-color: transparent;


}



span.status.yellow{
  border: 1px solid #969100;
  background: linear-gradient(to right, #969100 25%, #96aa00 70%,#969100 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text,border;
  text-fill-color: transparent;
  -webkit-background-clip: text,border;
  -webkit-text-fill-color: transparent;
}


span.status.wait{
  border: 1px solid #222;
  background: linear-gradient(to right, #000 25%, #555 70%,#000 100%);

  background-size: 200% auto;
  color: #000;
  background-clip: text,border;
  text-fill-color: transparent;
  -webkit-background-clip: text,border;
  -webkit-text-fill-color: transparent;
}


@keyframes ongoing {
    to {
      background-position: 200% center;
    }
  }

.mar-top{
  margin-top: 6px;
}

.mar-bot{
  margin-bottom: 10px;
}


.late{
  display: flex;
}

.late > select, .late > label, .late > a{
  flex-basis: 28%;
  flex-grow: 1;
}

.late > label {
  margin: auto;
}
@media only screen and (max-width:650px)  {
  .centre-cont{
    max-width: 600px;
    width: 80vw;
  }

  form{
    padding: 0;
  }
}
